.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 80px 25px 0px;
    background-color: #eee;
    height: 100vh;
}

.box .title{
    font-size: 25px;
    color: #666;
    font-weight: normal;
    margin-bottom: 15px;
}

.box .con{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 40px;
}

.box .con .login,
.box .con .confirmation{
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    padding: 15px;
    text-align: left;
}

.box .con .login p,
.box .con .confirmation p{
    font-size: 20px;
    color: #666;
}

.box .con input{
    margin-bottom: 15px;
    background-color: #eee;
    transition: 0.4s;
    padding: 10px;
    width: 100%;
}

.box .con input:hover{
    background-color: white;
}

.box .con input::placeholder{
    color: black;
}

.box .con .login span:first-of-type{
    display: flex;
    justify-content: space-between;
}

.box .con .login a{
    text-decoration: none;
    color: black;
    transition: 0.4s;
}

.box .con .login a:hover{
    text-decoration: underline;
    color: #666;
}

.box .con .login span:first-of-type input{
    background-color: #eaa800;
    border: none;
    color: white;
    width: fit-content;
}

.box .con .login div{
    border-top: 2px solid #ddd;
}

.box .con .login div p{
    font-weight: bold;
    color: black;
    font-size: 18px;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 5px;
}

.box .confirmation button{
    margin-left: auto;
    background-color: #eaa800;
    color: white;
    border: none;
    padding: 10px;
}

.box .confirmation .text{
    font-weight: bold;
    color: black;
}

.box .confirmation .text p{
    color: black;
    font-weight: normal;
    font-size: 16px;
}

@media(max-width: 767px){
    .sale{
        display: none;
    }

    .logo img{
        width: 60%;
    }

    .box .con {
        flex-direction: column;
        align-items: center;
    }
    
    .box .con .login,
    .box .con .confirmation{
        width: 100%;
    }

    .box .title{
        font-size: 20px;
    }
    
    .box .con .login div p,
    .box .confirmation .text{
        margin-top: 10px;
        font-size: 16px;
    }
}