.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eee;
}

.footer .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media(max-width: 990px){
    .footer .head{
        margin: 30px 0;
        flex-direction: column-reverse;
        gap: 10px;
    }
}

.footer .logo .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.footer .logo .contact i{
    border: 1px solid #666;
    padding: 5px;
    border-radius: 50%;
    transition: 0.4s;
    color: #777;
}

.footer .logo .contact i:hover{
    background-color: #666;
    color: white;
}

.copyright{
    margin-top: 12px;
}

.copyright span{
    color: red;
}

.footer .head .logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .head .logo img{
    width: 20%;
    margin-bottom: 10px;
}

.footer .head .logo img:last-of-type{
    width: 7%;
}

.footer .head .logo p{
    font-size: 16px;
    color: #666;
}

.footer .head .links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 990px){
    .footer .head .links{
        display: none;
    }
}

.footer .head .links p{
    color: #666;
    font-size: 20px;
}

.footer .head .links a{
    text-decoration: none;
    color: #666;
    transition: 0.4s;
}

.footer .head .links a:hover{
    color: #eaa800;
}