.room{
    padding-top: 120px;
}


/* Start Dates */

.paypal-checkout-btn{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 12px;
}

.dates .booking-data{
    margin-left: 100px;
}

@media(max-width: 767px){
    .con{
        margin-top: 90px;
    }
    
    .dates .booking-data{
        margin-left: 0px;
    }
}

.dates .book-btn{
    color: white;
    width: fit-content;
    background-color: #eaa800;
    padding: 10px 20px;
    margin-left: 12px;
    transition: 0.4s;
    border: 1px solid #eaa800;
}

.dates .book-btn:hover{
    background-color: #eaa800be;
}

.dates{
    padding: 25px;
    text-align: center;
}

.dates .booking-data{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 40px;
    align-items: center;
}

.dates .booking-data p{
    color: #eaa800;
    font-size: 16px;
    margin-bottom: 0;
}

.dates .booking-data input[type= 'date']{
    padding: 10px;
    border-radius: 6px;
    border: none;
    outline: none;
    margin-left: 20px;
}

::-webkit-calendar-picker-indicator{
    background: transparent;
    cursor: pointer;
    width: 100%;
    position: absolute;
}

.dates .booking-data .arrival,
.dates .booking-data .departure,
.dates .booking-data .adults{
    position: relative;
}

.dates .booking-data .arrival::after,
.dates .booking-data .departure::after,
.dates .booking-data .adults::after{
    content: '';
    position: absolute;
    height: 45px;
    width: 2px;
    background-color: #eaa800;
    right: -30px;
    border-radius: 6px;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media(max-width: 900px){
    .dates .booking-data .departure::after, .dates .booking-data .adults::after{
        position: relative;
    }
    
    ::-webkit-calendar-picker-indicator{
        background: transparent;
        cursor: pointer;
        width: 60%;
        position: absolute;
    }    
}

.dates .booking-data .adults span{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.dates .booking-data .adults span i{
    cursor: pointer;
    color: #eaa800;
}

.dates a{
    color: gray;
    transition: 0.4s;
    text-decoration: none;
    font-size: 20px;
}

.dates a:hover{
    color: #eaa800;
}

/* End Dates */

/* Start Title */

.room .title{
    padding-top: 30px;
    text-align: center;
}

.room .title h3{
    font-size: 30px;
    color: #6f451e;
}

.room .title img{
    width: 5%;
}

.room .title p{
    margin-top: 20px;
    color: #666;
    text-transform: uppercase;
}

/* End Title */

/* Start Discover */

.discover{
    padding: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.discover .text{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.discover .text p{
    text-align: left;
}

.discover .text span{
    color: #eaa800;
}

.discover .react-multi-carousel-list{
    width: 100%;
}

/* End Discover */

/* Start Features */

.features{
    padding-top: 25px;
    text-align: center;
}

.features .head h2{
    color: #666;
}

.features .head p{
    color: #eaa800;
    text-transform: uppercase;
}

.features .con{
    padding-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
}

.features .con span{
    display: flex;
    flex-direction: column;
    color: #666;
    font-size: 14px;
}

.features .con span i{
    font-size: 25px;
    margin-bottom: 12px;
    color: #eaa800;
}

/* End Features */

/* Start Details */

.details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
    padding: 25px;
}

.details .react-multi-carousel-list{
    width: 100%;
}

.details .info{
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-bottom: 30px;
}

.details .info h3{
    color: #666;
}

.details .info span{
    color: #eaa800;
    text-transform: uppercase;
}

.details .info p{
    color: #666;
}

.details .info a{
    text-decoration: none;
    color: white;
    background-color: #eaa800;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: 0.4s;
    width: fit-content;
}

.details .info a:hover{
    background-color: #666;
}

/* End Details */

/* Start Responsive */

@media(max-width: 900px){
    .details{
        flex-direction: column;
    }
        
    .dates .book-btn{
        width: 100%;
    }

    .details img{
        width: 100%;
    }

    .dates form{
        margin-left: 0px;
    }

    .footer{
        width: 101%;
    }
}

/* End Responsive */
