/* Start List */

.list{
    height: 102vh;
    width: 70%;
    display: flex;
    z-index: 100000;
    position: fixed;
    top: 130px;
    transform: translateX(-100%);
    transition: 0.5s;
    margin-top: -110px;
}

.list.active{
    transform: translateX(0);
    background-color: white;
}

/* End List */

/* Start left-side */

.list .left-side{
    width: 65%;
    background-image: url('../../imgs/menu.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
}

.left-side .head{
    padding-top: 25px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.left-side .head p{
    font-size: 16px;
    color: gray;
}

.left-side .head p span{
    font-weight: bold;
}

.left-side .head a{
    color: white;
    background-color: #eaa800;
    padding: 15px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: 0.4s;
    border: 1px solid #eaa800;
}

.left-side .head a:hover{
    background-color: white;
    color: #eaa800;
}

.list .text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list .text p{
    color: #eaa800;
    margin: 10px 0 0;
    font-size: 18px;
    font-weight: bold;
}

.list .text a{
    color: #666;
    text-decoration: none;
    transition: 0.4s;
    font-size: 18px;
}

.list .text a:hover{
    color: #eaa800;
}


/* End left-side */

/* Start right-side */

.list .right-side{
    width: 35%;
    background-color: white;
    position: relative;
}

.list .right-side img{
    padding-top: 25px;
    width: 35%;
}

.list .right-side i.close{
    font-size: 30px;
    color: #eaa800;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px;
}

.list .right-side .text{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding-top: 10px;
}

.list .right-side .sale{
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.list .right-side .sale i{
    color: #666;
    font-size: 30px;
    transform: rotate(45deg);
}

.list .right-side .sale a{
    text-decoration: none;
    color: #eaa800;
    font-size: 22px;
}

/* End right-side */

/* Start Responsive */

@media(max-width: 900px){
    .list{
        flex-direction: column-reverse;
        width: 100%;
    }

    .left-side .head a{
        display: none;
    }

    .list .left-side {
        width: 100%;
    }
    
    .list .right-side {
        width: 100%;
    }

    .list .right-side img {
        position: absolute;
        width: 18%;
        bottom: 290px;
        left: 20px;
    }

    .list .right-side .sale {
        display: none;
    }

    .list .right-side .sale i{
        display: none;
    }
    
    .list .right-side .text{
        position: absolute;
        gap: 5px;
        left: 50%;
        transform: translate(-50%, -50%);
        bottom: 339px;
        height: 100%;
        flex-flow: wrap;
    }

    .left-side .head p{
        display: none;
    }

    .list .text a {
        font-size: 15px;
    }

    .list .right-side i.close{
        position: absolute;
        right: 10px;
        top: -324px;
    }
}

@media(min-width: 1100px) {
    .list{
        margin-top: -145px;
    }
}

/* End Responsive */