.box-search{
    width: 40%;
    background-color: white !important;
    position: fixed;
    top: 77px;
    z-index: 9990000000000000;
    max-height: 400px;
    overflow: auto;
    transform: translateY(-200%);
}

@media(max-width: 900px){
    .box-search{
        width: 100%;
    }
}

.box-search.result{
    height: 100%;
}

.box-search.active{
    transform: translateY(0);
}

.card-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)) !important;
    gap: 40px;
    padding: 0px 5px;
}

.card-container h2{
    font-size: 14px;
    font-weight: normal;
    margin-top: 20px;
}

.card-container img{
    height: 70px;
}

.box-search input{
    width: 50%;
    border-radius: 6px;
    outline: none;
    border: none;
    background-color: #ddd;
    padding: 5px;
    margin-bottom: 40px;
}