.my-booking table,
.login-box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-box h2{
    margin-bottom: 20px;
}

.login-box a{
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 6px;
    background-color: #eaa800;
    color: white;
    transition: 0.4s;
    text-decoration: none;
}

.login-box a:hover{
    background-color: #eaa800b7;
    color: white;
}