.sign-up-box{
    height: 100vh;
}

.sign-up-box h3{
    font-size: 25;
    color: #666;
    font-style: italic;
    font-weight: normal;
}

.sign-up-box{
    padding: 220px 25px 0;
}

.sign-up-box .sign-up{
    background-color: #eee;
    padding: 15px;
}

.sign-up-box .sign-up input{
    width: 35%;
    margin: 15px;
    padding: 10px;
    border: none;
    outline: none;
}

.sign-up-box .sign-up input[type= 'submit']{
    background-color: #eaa800;
    border: none;
    width: fit-content;
    padding: 10px;
    color: white;
    transition: 0.4s;
}

.sign-up-box .sign-up input[type= 'submit']:hover{
    background-color: #eaa800cf;
}

.err{
    color: red;
    padding: 5px 10px;
    border-radius: 6px;
    background-color: black;
    width: fit-content;
    font-size: 14px;
    position: relative;
    top: 23px;
    left: 16px;
}